body {
	font-family: "Open Sans", sans-serif;
	background-image: url(depositphotos_118592578-stock-photo-red-curtain-in-theater.webp);
	background-size: cover;
	
}
h2 {
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}

#sign-in{
	background-color: white;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: rgb(196, 0, 0);
	left: 0;
	right: 0;
	bottom: -20px;
}

.carousel {
	margin: 50px auto;
	padding: 0 40px;
}
.carousel .item {
	color: black;
	min-height: 250px;
	text-align: center;
	/* overflow: hidden; */
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: rgb(196, 0, 0);
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid rgb(196, 0, 0);
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: rgb(196, 0, 0);
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: rgba(196, 0, 0, 0.286);	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: rgba(196, 0, 0);
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	/* margin: 4px; */
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: rgb(196, 0, 0);
}
.row .col-sm-3 .thumb-wrapper {
    animation: scroll 40s linear infinite;
}

#dernierslide{
	display: flex;
	justify-content: center;
}

.img-box{
    width: 150px;
    height: 200px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 10ms;
}
.img-box:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}
.img-box a{
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
}
.img-box:hover a{
    opacity: 1;
    transform: scale(1);
}

.container-xl{
	margin: auto;
	height: 400px;
}

.carousel-indicators{
	display: none;
}

.img-fluid{
	height: 500px;

}

.footer{
	background-color: white;
	max-width: 100%;
	height: 90px;
	border: 2px solid white;
	
}
.frs{
	height: 25px;
}
.rs{
	display: flex;
	justify-content: center; 
	align-items: center;
	margin-top: 10px;
	
}
.copyt{
	height: 20px;
	margin-top: 20px;
	margin-left: 743px;
}

.insta{
padding-right: 10px;
}
.piaf{
padding-left: 8px;
}
#CINEMAVI{
    position: relative;
    color: white;
    
}
#searchi{ 
    margin-right: 10px;
}
 /* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */
 .open-btn {
    display: flex;
    justify-content: flex-start;
    
  }
  /* Stylez et fixez le bouton sur la page */
  .open-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    /* position: fixed; */
  }
  /* Positionnez la forme Popup */
  .login-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  /* Masquez la forme Popup */
  .form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
  }
  /* Styles pour le conteneur de la forme */
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  /* Largeur complète pour les champs de saisie */
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
  }
  /* Quand les entrées sont concentrées, faites quelque chose */
  .form-container input[type="text"]:focus,
  .form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Stylez le bouton de connexion */
  .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Stylez le bouton pour annuler */
  .form-container .cancel {
    background-color: #cc0000;
  }
  /* Planez les effets pour les boutons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

#genre{
  background-color: #a40909;
  height: 37.6px;
  width: 200px;
  /* box-shadow: 5px black; */
  border: 0px solid white;
  /* border-radius: 20px; */
  /* display: flex;
  justify-content: space-around;
  flex-direction: row; */
}

.btnHead{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 10px;
}
